header {
    position: relative;
    width: 100%;
}

.banner-wrap {
    position: relative;
}

.main-image {
    position: relative;
    height: 100vh;
    width: 100%;
    aspect-ratio: initial;
    object-fit: cover;
    z-index: 1;
}

.header-image {
    position: relative;
    height: 10vh;
    width: 100%;
    aspect-ratio: initial;
    object-fit: cover;
    z-index: 1;
}

.header-text {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    color: white;
    margin-left: 1em;
}

.nav-btn {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #e1f1eb;
}

.nav-btn ul {
    display: flex;
    list-style: none;
    padding: 0px 0em 0px 1em;
    height: 100%;
}

.nav-btn ul li{
    height: 100%;
}

.nav-btn ul li:hover {
    opacity: 0.5;
}

.nav-btn ul li a{
    display: flex;
    padding: 1em 2em 1em 2em;
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
    color: #004643;
}

.fixed-nav-btn {
    position: fixed;
    top: 0;
    z-index: 2;
}

.hamburger-btn {
    display: none;
}


@media screen and (max-width: 480px) {
    .hamburger-btn {
        color: #004643;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .hamburger-btn-open {
        vertical-align: middle;
        font-size: 1em;
    }

    .hamburger-btn-close {
        vertical-align: middle;
        font-size: 1em;
    }

    .header-text {
        font-size: 18px;
    }

    .hamburger-btn {
        display: block;
    }

    .hamburger-open {
        display: flex;
    }

    .hamburger-close {
        display: none;
    }

    .nav-btn ul {
        flex-flow: column;
    }

}